<app-layout domain="psychologist">
  <div class="w-full h-full flex justify-center items-center">
    <div class="bg-red-100 p-10 rounded-xl">
      <div class="flex">
        <div class="mr-5">
          <div class="bg-red-200 rounded-xl px-1">
            <mat-card-title>Patient #{{patientId}}</mat-card-title>
          </div>
        </div>
        <mat-card>
          <mat-card-title>Identification Data</mat-card-title>
          <mat-card-content>
            <div class="flex justify-between">
              <div class="flex flex-col mr-5">
                <span><b>Full Name: </b> {{patient.firstname + ' ' + patient.lastname}}</span>
                <span><b>Age: </b> 27</span>
                <span><b>Date of birth: </b> {{patient.birthdayDate}}</span>
              </div>
              <div class="flex flex-col">
                <span><b>Occupation: </b> Professional</span>
                <span><b>Address: </b> Lima St. 245</span>
                <span><b>Phone: </b> {{patient.phone}}</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card class="mt-5">
        <div class="flex justify-around">
          <div>
            <h1>Session History</h1>
            <div>
              <div class="bg-red-100 rounded-xl px-5"> Session 1 - 21/05/25</div>
              <div class="bg-red-100 rounded-xl px-5"> Session 1 - 21/05/25</div>
              <div class="bg-red-100 rounded-xl px-5"> Session 1 - 21/05/25</div>
            </div>
          </div>
          <mat-card>
            <mat-card-title>Session 1 - 21/05/25</mat-card-title>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</app-layout>
