<mat-drawer-container class="example-container w-full h-full">
  <mat-toolbar color="primary" class="w-screen">
    <button type="button" (click)="drawer.toggle()"
      mat-icon-button aria-label="icon button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PsychoHelp</span>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav w-60" mode="over">
    <div class="w-full">

    </div>
  </mat-drawer>
  <section class="w-full h-cont flex justify-center items-center">
    <ng-content></ng-content>
  </section>
</mat-drawer-container>
