<mat-drawer-container class="example-container w-full h-full">
  <mat-toolbar style="background-color: #03A9F4; color: white" class="w-screen">
    <button type="button" (click)="drawer.toggle()" mat-icon-button aria-label="icon button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PsychoHelp</span>
  </mat-toolbar>
  <mat-drawer #drawer class="w-60" mode="over">
    <div class="w-full flex justify-start">
      <mat-list>
        <div *ngFor="let option of options()">
          <mat-list-item>
            <a href="{{option.route}}">
              <mat-icon>{{option.icon}}</mat-icon>
              {{option.name}}
            </a>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </mat-drawer>
  <section id="content">
    <ng-content></ng-content>
  </section>
</mat-drawer-container>
