<app-layout>
  <div class="w-full h-full">
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile>
        <div>
          <mat-card class="imagesize">
            <img mat-card-image [src]="patient.image" alt="{{patient.image}}" class="max-w-none">
          </mat-card>
          <div class="mt-3">
            <mat-card style="text-align: center;">
              <mat-card-title>{{patient.firstName + ' ' + patient.lastName}}</mat-card-title>
            </mat-card>
          </div>
        </div>
        <div class="ml-10">
          <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" value="{{patient.firstName}}" [(ngModel)]="patient.firstName">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" value="{{patient.lastName}}"  [(ngModel)]="patient.lastName">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" value="{{patient.email}}"  [(ngModel)]="patient.email">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Birthday</mat-label>
                  <input matInput placeholder="Birthday" value="{{patient.date}}"  [(ngModel)]="patient.date">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="Phone" value="{{patient.phone}}"  [(ngModel)]="patient.phone">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Gender</mat-label>
                  <input matInput placeholder="Gender" value="{{patient.gender}}"  [(ngModel)]="patient.gender">
                </mat-form-field>

                <mat-form-field class="text-full-width" appearance="fill">
                  <mat-label>Image</mat-label>
                  <input matInput placeholder="Image" value="{{patient.image}}"  [(ngModel)]="patient.image">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
              <button mat-raised-button color="primary" (click)="updatePatient()">Save Changes</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-layout>

<style>
  .example-card {
    max-width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }

  .tilecolor {
    background-color: lightblue;
  }

  .imagesize {
    max-height: 370px;
    max-width: 370px;
  }

  .text-full-width {
    width: 100%;
  }
</style>
