<app-layout>
  <div class="w-full h-full flex flex-col lg:flex-row items-center justify-between">
    <div class="w-full md:w-1/2 lg:p-10" *ngIf="userList[0]" >
      <app-video-player [stream]="userList[0]"></app-video-player>
    </div>
    <div class="w-full md:w-1/2 lg:p-10" *ngIf="userList[1]" >
      <app-video-player [stream]="userList[1]"></app-video-player>
    </div>
  </div>
  <app-bottom-menu
    (muteAudio) ="muteAudio()"
    (stopVideo)="stopVideo()"
  ></app-bottom-menu>
</app-layout>
